#messageDetails {
    .upper-section {
      img {
        width: 100%;
      }
  
      margin-bottom: 30px;
    }
  
    .details-section {
      color: $main-text-gray-color;
      .message {
        &-type {
          font-size: 14px;
          font-weight: 300;
          text-transform: uppercase;
          margin: 0;
        }
  
        &-owner {
          float: right;
          img {
            height: 50px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
          }
  
          span {
            display: block;
            font-size: 13px;
            font-weight: 300;
          }
        }
  
        &-description {
          font-weight: 300;
          margin-bottom: 30px;
        }
      }
    }
  }